.board {
    margin-left: 80px; /* Ensure margin-left is always 80px */
}

.board .search {
    margin-bottom: 10px; /* Add some margin to space out the search bar from the line */
}

.board .divider {
    border: none;
    height: 1px;
    background-color: #c7c7c7;
    margin: 10px 0; /* Reduce top and bottom margin for divider */
  }
  
  .board .message-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; /* Reduce top margin for message-wrapper */
  }
  
  .board .button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }